<mat-card class="login-card">
  <h3>{{ title_comp }}</h3>
  <form (ngSubmit)="login()">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Email</mat-label>
      <input matInput [(ngModel)]="email" name="email" type="email" required />
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Password</mat-label>
      <input
        matInput
        [(ngModel)]="password"
        name="password"
        type="password"
        required
      />
    </mat-form-field>

    <button mat-flat-button type="submit" class="full-width">Login</button>
  </form>
  <p>
    Don't have an account?
    <a [routerLink]="['/register']">Register here</a>
  </p>
</mat-card>
